.custom-swal-popup {
    font-family: 'Arial', sans-serif;
    border-radius: 15px;
    padding: 25px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.custom-swal-confirm-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-swal-confirm-button:hover {
    background-color: #45a049;
}
